.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-body {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 80vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.custom-tooltip {
  width: 200px;
    margin: 0;
    line-height: 24px;
    border: 1px solid #f5f5f5;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.custom-tooltip  .label {
  margin: 0;
  color: #666;
  font-weight: 700;
}
.custom-tooltip  .desc {
  margin: 0;
  color: #999;
}
.custom-tooltip  .intro {
  border-top: 1px solid #f5f5f5;
  margin: 0;
}